@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background: linear-gradient(rgb(178, 177, 238), rgb(167, 210, 228));
    width: 90vmin;
    height: 90vmin;
    border: 2px solid black;

    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(30, 80, 15),rgb(68, 148, 36));
    border: 2px solid rgb(0, 52, 7);
    transform: scale(1.02);
    border-radius: 9px;
}

.snakeBody{
    background-color: rgb(82, 141, 49);
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(rgb(214, 200, 68), rgb(231, 77, 77));
    border: 0.25vmin solid black;
    border-radius: 8px;
}

#scoreBox, #hiScoreBox{
    position: absolute;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Caprasimo', cursive;
}

#scoreBox{
    top: 9px;
    right: 160px;
}

/* #hiScoreBox{
    top: 60px;
    right: 55px;
} */